* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* flex: de dua cai block nav len chung hang voi cai logo */
/* flex cho the cha */

/* mac dinh truc chinh la truc ngang. Truc chinh: justify-content */
/* truc phu la truc doc. Truc ngang: align-items */
.header-container {
  height: 80px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
